<div class="container" id="players">

  <h1>Players</h1>
  <div class="player-wrapper col-md-2"  data-uid="{{ uid }}" ng-repeat="(uid,player) in players" ng-click="addPlayer(uid)">
    <div class="player {{ player.in }}" >
      <img ng-src="{{ player.imageurl }}"/>
      <p class="player-name"> {{ player.name }}</p>
    </div>
  </div>

  <button ng-click="postPlayers()">POST</button>
  <button ng-click="clear()">CLEAR</button>
  <button ng-click="startTimer()">Start Timer</button>

  <div id="start" ng-click="start()"> Start!</div>
</div>